<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="VueJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- 
            - หากติดตั้ง LMR-front เป็น "IIS Application" (แนะนำ):
              สามารถใช้ url="index.html" ได้เลย
            - หากติดตั้ง LMR-front เป็นแค่โฟลเดอร์ย่อยธรรมดา (ไม่ได้ Convert to Application):
              ให้เปลี่ยน url="index.html" เป็น url="/LMR-front/index.html"
          -->
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
